.onco-legal-garan--notice {
    margin-top: 10px;

    .onco-legal-garan--link {
        text-decoration: underline;
    }
}

.onco-legal-garan--modal {
    .onco-legal-garan--modal-content {
        max-width: 800px;
        padding: 10px;
    }

    .onco-legal-garan--notice-image {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .onco-legal-garan--portal-link {
        margin-top: 10px;
        text-align: center;
    }
}
