.onco-legal-garan--notice {
    margin-top: 10px;

    .onco-legal-garan--link {
        text-decoration: underline;
    }
}

.onco-legal-garan--custom-container {
    margin: 10px 0;
}

.ajax--cart .onco-legal-garan--notice {
    margin: 10px;
}

.onco-legal-garan--modal {
    .onco-legal-garan--modal-content {
        max-width: 800px;
        padding: 10px;
    }

    .onco-legal-garan--notice-image {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .onco-legal-garan--portal-link {
        margin-top: 10px;
        text-align: center;
    }
}

.onco-legal-garan--inline-confirm .onco-legal-garan--inline {
    margin-left: auto;
}

.onco-legal-garan--inline {
    margin: 10px 0;
    max-width: 420px;
    padding: 10px;
    background: #fff;

    .onco-legal-garan--notice-image {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .onco-legal-garan--portal-link {
        margin-top: 10px;
    }
}
